.p-footer{
    font-size: 12px;
}
.p-footer-small{
    font-size: 9px;
}

.p-copy-right{
    font-size: 15px;
    opacity: 0.5;
}

@media (max-width: 480px) {
    .Copyright {
        font-size: .8rem !important;
    }
}