<footer>
  <section>
    <div class="container">
      <div class="row py-5 mt-3">
        <div class="col-lg-3 col-sm-12 flex-column text-center text-sm-start">
          <img src="assets/img/logo.svg" alt="logo" width="192" height="60" class="d-inline-block align-text-top" />
          <p>¡Digitaliza tus servicios contables y obtén más rapidez y eficiencia para atender a muchos más clientes!</p>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="row">
            <div class="col-12 col-sm-4 text-center text-sm-start">
              <p style="font-weight: bold">Servicios</p>
              <p><a class="text-dark" routerLink="" (click)="ScrollIntoView('#features')">Características</a></p>
              <p><a class="text-dark" routerLink="" (click)="ScrollIntoView('#prices')">Precios</a></p>
            </div>
            <div class="col-12 col-sm-4 mb-4 mb-sm-0 mt-3 mt-sm-0">
              <p class="text-center" style="font-weight: bold">Redes</p>
              <div class="d-flex justify-content-evenly">
                <a target="_blank" class="text-dark" href="https://www.facebook.com/iuapp.contadores"><i class="fs-5 fab fa-facebook-square"></i></a>
                <a target="_blank" class="text-dark" href="https://www.linkedin.com/company/iuapp"><i class="fs-5 fab fa-linkedin"></i></a>
                <a target="_blank" class="text-dark" href="https://www.instagram.com/iuapp.contadores"><i class="fs-5 fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="col-12 col-sm-4 d-flex d-sm-block justify-content-around align-items-center">
              <button class="btn-2 rounded-24 px-4 py-2 d-flex flex-row justify-content-center align-items-center" style="color: black">
                <i class="fab fa-apple fa-2x me-1"></i>
                <div class="d-flex flex-column">
                  <p class="mb-0 p-footer-small">Descárgala en</p>
                  <p class="mb-0 p-footer">App Store</p>
                </div>
              </button>

              <button class="btn-2 rounded-24 px-4 py-2 d-flex flex-row justify-content-center align-items-center mt-0 mt-sm-3" style="color: black">
                <i class="fab fa-google-play"></i>
                <div class="d-flex flex-column">
                  <p class="mb-0 p-footer-small">Descárgala en</p>
                  <p class="mb-0 p-footer">Google Store</p>
                </div>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 ">
          <div class="d-flex flex-column align-items-center justify-content-center ">
            <img src="assets/img/AWSlogo.svg" alt="AWSlogo" width="192" class="d-inline-block align-text-top" />
          </div>
        </div>
      </div>
    </div>
    <p class="text-center text-muted Copyright mx-2">Copyright © 2022 IU App. Todos los derechos reservados. Hecho con ❤️ en Latinoamérica. <strong><a class="text-muted" target="_blank" href="https://intercom.help/iu-app/es/articles/6827422-terminos-y-condiciones">Términos y condiciones</a>.</strong> </p>
  </section>
</footer>
