<main class="mx-0 w-100 p-0" style="background-color: #fcfcfc">
  <section class="row gx-0">
    <section class="col-lg-5 d-flex flex-columnjustify-content-center align-items-center">
      <div class="container d-flex flex-column justify-content-center align-items-start ps-5 pt-5 mb-3">
        <h1 class="h1-Big">
          ¿Quieres escalar tu
          <span class="span-color">servicio contable</span> a otro nivel?
        </h1>
        <p class="descriptions mt-1 mb-4">
          ¡Digitaliza tus servicios y obtén más rapidez y eficiencia para
          atender a muchos más clientes! IU App Contable es una plataforma y App
          que te permitirá maximizar y agilizar el intercambio de información
          con tus clientes.
        </p>
        <button type="button" class="btn-1 rounded-24 navBtn-principal px-4 py-2">
          ¡Quiero saber más!
        </button>
      </div>
    </section>
    <div
      class="col-lg-7 p-0 d-flex flex-row justify-content-end align-items-center"
    >
      <img src="assets/img/landing/viewsAppImage.svg" class="img-fluid" alt="" />
    </div>
  </section>

  <!-- integration -->
  <section>
    <section class="d-flex mt-5">
      <div
        class="container d-flex align-items-center justify-content-center logos"
      >
        <img class="img-fluid" width="144px" src="assets/img/logo.svg" alt="" />
        <div class="d-flex align-items-center">
          <p class="mx-4 p-blue">se integra con</p>
          <img
            class="img-fluid"
            width="50px"
            src="assets/img/Logo_de_Servicio_de_Impuestos_Internos.png"
            alt=""
          />
        </div>
      </div>
    </section>
  </section>

  <!--ligthBlue panel  -->
  <section class="mt-4 pb-5 pt-5 ligth-blue-panel w-100">
    <section class="pt-5">
      <div class="container d-flex align-items-center flex-column" style="width: 55%; min-width: 55%">
        <i class="fas fa-exchange-alt fa-2x"></i>
        <h2 class="h2-big pt-3 text-center">
          La interacción digital entre el contador y el cliente es una necesidad.
        </h2>
        <p class="fs-4 p-blue text-center py-4">
          Aprovechamos la era digital y lo hacemos posible.
        </p>
        <p class="text-center descriptions">
          IU App Contable es el partner tecnológico que todo contador
          independiente y estudio contable necesita para lograr que su negocio
          siga creciendo. Es una plataforma y app móvil en la nube intuitiva,
          interactiva y muy versátil para hacer más eficiente la entrega de tu
          servicio contable.
        </p>
        <button class="btn-1 rounded-50 px-4 py-3 mt-4">¡Quiero saber más!</button>
      </div>
    </section>

    <section class="mx-auto mt-5" style="width: 75%">
      <section class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column align-items-start justify-content-center">
            <i class="fas fa-chart-line fa-2x blue-gradiant"></i>
            <h2 class="pt-3 h2-big ">Somos tu mejor opción para crecer.</h2>

            <p class="pt-3 descriptions">IU App Contable te permitirá
              <span class="span-color">
                digitalizar tus servicios contables y automatizar la interacción con tus clientes.
              </span>
              Ahorrarás tiempo valioso que te permitirá tener mayor capacidad para atender a muchos más interesados en tus servicios.
            </p>
          </div>
          <div class="col-lg-6">
            <img src="assets/img/landing/webViewCircleBehind.svg" class="img-fluid" alt="" />
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-lg-6 d-flex justify-items justify-items-end">
            <img src="assets/img/landing/mobileViewCircleBehind.svg" class="img-fluid" alt="" />
          </div>
          <div class="col-lg-6 d-flex flex-column align-items-start jus p-5">
            <i class="fas fa-tachometer-alt fa-2x blue-gradiant"></i>
            <h2 class="pt-3 h2-big pe-5">Información al alcance de un clic.</h2>

            <p class="pt-3 descriptions">
              Ya no tendrás que reunirte físicamente con tus clientes, podras
              ofrecer tus servicios contables de manera digital.
            </p>
          </div>
        </div>

        <div class="row mt-5">
          <div
            class="col-lg-6 d-flex flex-column align-items-start justify-content-center"
          >
            <i class="far fa-bell fa-2x blue-gradiant"></i>
            <h2 class="pt-3 h2-big pe-5">
              Envía alertas de recordatorios a tus clientes.
            </h2>

            <p class="pt-3 descriptions">
              <span class="span-color">
                Tendrás la posibilidad de ofrecerle una App a tus clientes
              </span>,
              y enviarle a través nuestra plataforma alertas de recordatorios de
              fechas y montos de pago de las imposiciones de sus trabajadores y
              impuestos en SII, así tus clientes nunca olvidarán realizar un
              pago.
            </p>
          </div>
          <div class="col-lg-6 d-flex justify-items justify-items-end pb-5">
            <img
              src="assets/img/landing/mobileViewSecondaryCircleBehind.svg"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </section>
    </section>
  </section>

  <!-- digitalize service -->
  <section class="">
    <section class="pt-5">
      <section class="mx-auto" style="width: 70%">
        <div class="container">
          <div class="row d-flex">
            <div class="col-lg-6">
              <h2 class="text-center h2-medium pt-5">
                <p>
                  ¿Que es <span class="span-color">IU App Contable</span>?
                </p>
              </h2>
              <p style="font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.</p>
            </div>
            <div class="col-lg-6">
              <img src="../../../assets/img/HowDoesItWork/white.svg" alt="">
            </div>
          </div>
        </div>
      </section>

      <h2 class="text-center h2-medium pt-5">¿Cómo funciona?</h2>

      <section class="mx-auto py-5" style="width: 70%">
        <div class="container">
          <div class="row h-100">
            <div class="col-12 col-md-6 col-lg-6 col-xl-4 mt-4">
              <section class="container">
                <div class="row text-center">
                  <div class="">
                    <img src="../../../assets/img/HowDoesItWork/Frame 31430.svg" alt="">
                    <p class="descriptionsI p-small fw-bold p-color-dark-blue mb-0 mt-5">Regístrate y Suscríbete</p>
                    <p class="descriptionsI mt-3">
                      En solo unos pocos minutos ingresa el correo electrónico con el cual crearas tu cuenta y
                      ingresa tu nombre como contador independiente o de tu estudio contable. 
                    </p>
                  </div>
                </div>
              </section>
            </div>

            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
              <section class="container">
                <div class="row text-center">
                  <div class="align-items-center justify-content-center">
                    <img src="../../../assets/img/HowDoesItWork/Frame 31404.svg" alt="">
                    <p class="descriptionsI p-small fw-bold p-color-dark-blue mb-0 mt-4">Digitaliza tus servicios contables</p>
                    <p class="descriptionsI mt-3">
                      Ingresa a tus clientes en la plataforma y de forma automática les llegará un 
                      correo electrónico a tus clientes para que descarguen y se registren en la app
                      móvil, así crearán su propia cuenta y podrán iniciar la interacción digital.
                    </p>
                  </div>
                </div>
              </section>
            </div>

            <div class="col-12 col-md-6 col-lg-6 col-xl-4 mt-4 pb-5">
              <section class="container">
                <div class="row text-center">
                  <div class="">
                    <img src="../../../assets/img/HowDoesItWork/Frame 31431.svg" alt="">
                    <p class="descriptionsI p-small fw-bold p-color-dark-blue mb-0 mt-5">¡Listo! ¡Tú y tus clientes felices!</p>
                    <p class="descriptionsI mt-3">
                      Listo, ya puedes disfrutar de todas las funciones y ventajas que te brinda IU App. Ofrecer una mejor experiencia 
                      a tus usuarios es la clave para escalar tus servicios contables al siguiente nivel, y con IU App lo harás posible.
                    </p>
                  </div>
                </div>
              </section>
            </div>
            
          </div>
        </div>
      </section>
    </section>
  </section>

  <!-- blue panel -->
  <section class="blue-panel pt-5 mt-5">
    <section class="mx-0 px-0 pt-3" style="width: 100%">
      <div class="row gx-0">
        <div
          class="col-lg-2 col-lg-0 p-0 d-flex flex-column justify-content-center align-items-start"
        ></div>
        <div
          class="col-lg-4 d-flex p-0 flex-column justify-content-center align-items-start px-4 mb-3"
        >
          <h2 class="h2-medium">
            IU App Contable es
            <span class="span-color">Rapidez y Eficiencia</span>
          </h2>
          <p class="descriptions mt-2 mb-4">
            Con tan solo suscribirte a alguno de nuestros planes, lograrás ser más eficiente en los tiempos de respuesta a tus clientes, 
            el cumplimiento de plazos, mantener un historial de mensajes con tus clientes,  generación de alertas de recordatorio, entre otros.
          </p>
          <button class="btn-1 rounded-50 px-4 py-3">¡Quiero la aplicación!</button>
        </div>
        <div
          class="col-lg-6 container d-flex p-0 flex-row justify-content-end align-items-center pe-0 me-0"
        >
          <img
            class="m0 p0"
            src="assets/img/landing/mobileDualView.svg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </section>
  </section>

  <!-- digitalize service -->
  <section class="mt-5 pt-5">
    <section class="pt-5">
      <h2 class="text-center h2-medium pt-5">
        Con nosotros podrás
        <span class="span-color">digitalizar tu servicio contable</span>
      </h2>
      <section class="mx-auto mt-5" style="width: 70%">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <section class="container">
                <div class="row">
                  <div class="col-3 col-lg-2">
                    <i class="fas fa-mobile-alt fa-3x blue-gradiant"></i>
                  </div>
                  <div class="col-8">
                    <p class="p-small fw-bold p-color-dark-blue mb-0">App móvil</p>
                    <p class="descriptions">
                      Entrega toda la información contable a tus clientes en la
                      palma de su mano y en tiempo real.
                    </p>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-lg-6">
              <section class="container">
                <div class="row">
                  <div class="col-3 col-lg-3">
                    <i class="fas fa-desktop fa-3x blue-gradiant"></i>
                  </div>
                  <div class="col-8">
                    <p class="p-small fw-bold p-color-dark-blue mb-0">Digitalización</p>
                    <p class="descriptions">
                      Ahora podrás prestar tu servicio contable de forma online.
                      Ofreceras respuestas más rápidas y oportunas.
                    </p>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-6">
              <section class="container">
                <div class="row">
                  <div class="col-3 col-lg-2">
                    <i class="fas fa-paste fa-3x blue-gradiant"></i>
                  </div>
                  <div class="col-8">
                    <p class="p-small fw-bold p-color-dark-blue mb-0">Envío de Reportes</p>
                    <p class="descriptions">
                      Tú y tus clientes tendrán siempre disponible la
                      información necesaria para tomar mejores decisiones en su
                      móvil.
                    </p>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-lg-6">
              <section class="container">
                <div class="row">
                  <div class="col-3 col-lg-3">
                    <i class="fas fa-cog fa-3x blue-gradiant"></i>
                  </div>
                  <div class="col-8">
                    <p class="p-small fw-bold p-color-dark-blue mb-0">Integraciones</p>
                    <p class="descriptions">
                      Nos conectamos con el SII para que puedas que tú y tus
                      clientes puedan ver sus compras y ventas en tiempo real.
                    </p>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-6">
              <section class="container">
                <div class="row">
                  <div class="col-3 col-lg-2">
                    <i class="far fa-bell fa-3x blue-gradiant"></i>
                  </div>
                  <div class="col-8">
                    <p class="p-small fw-bold p-color-dark-blue mb-0">
                      Alertas de recordatorio
                    </p>
                    <p class="descriptions">
                      A través de IU App Contable podras enviar alertas de
                      recordatorio a tus clientes.
                    </p>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-lg-6">
              <section class="container">
                <div class="row">
                  <div class="col-3 col-lg-3">
                    <i class="fas fa-user-friends fa-3x blue-gradiant"></i>
                  </div>
                  <div class="col-8">
                    <p class="p-small fw-bold p-color-dark-blue mb-0">
                      Experiencia de usuario
                    </p>
                    <p class="descriptions">
                      Tendrás siempre una comunicación fluida y oportuna con tus
                      clientes, podrás dar respuestas desde cualquier lugar y en
                      cualquier momento
                    </p>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </section>
  </section>

  <!-- Functionalities -->
  <section class="container pt-5" style="margin-top: 6rem">
    <section class="container shadow-1 p-5 mt-5" style="background-color: white">
      <div class="d-flex flex-column align-items-start pt-5">
        <h2 class="h2-medium" style="width: 55%">
          Todas las funcionalidades que un
          <span class="span-color">Contador</span> necesita en un solo lugar.
        </h2>
        <div class="container pt-5" style="width: 100%">
          <div class="row">
            <div class="col-lg-4 d-flex">
              <i class="fas fa-check-circle fa-2x icon-green"></i>
              <p class="ps-3 p-color-dark-blue p-small">
                Dashboard con información de tu estudio contable.
              </p>
            </div>
            <div class="col-lg-4 d-flex">
              <i class="fas fa-check-circle fa-2x icon-green"></i>
              <p class="ps-3 p-color-dark-blue p-small">
                Envío de mensajes con tus clientes a través de la App.
              </p>
            </div>
            <div class="col-lg-4 d-flex">
              <i class="fas fa-check-circle fa-2x icon-green"></i>
              <p class="ps-3 p-color-dark-blue p-small">
                Integración con el SII
              </p>
            </div>
          </div>
          <div class="row py-3 py-5">
            <div class="col-lg-4 d-flex">
              <i class="fas fa-check-circle fa-2x icon-green"></i>
              <p class="ps-3 p-color-dark-blue p-small">
                Envío de Reportes Contables y de Remuneraciones.
              </p>
            </div>
            <div class="col-lg-4 d-flex">
              <i class="fas fa-check-circle fa-2x icon-green"></i>
              <p class="ps-3 p-color-dark-blue p-small">
                Visualización de saldos y gráfico de movimientos de compras y
                ventas.
              </p>
            </div>
            <div class="col-lg-4 d-flex">
              <i class="fas fa-check-circle fa-2x icon-green"></i>
              <p class="ps-3 p-color-dark-blue p-small">
                Recibe información de tus clientes para realizar el proceso
                mensual de remuneraciones.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <!-- Discover what UI Accounting App offers your clients -->
  <section class="container" style="margin-top: 6rem">
    <section class="container">
      <h2 class="h2-medium text-center mb-5">
        Descubre lo que
        <span class="span-color">IU App Contable le ofrece a tus clientes</span>
      </h2>
      <div class="row d-flex flex-row align-items-center mt-5">
        <div class="col-lg-6">
          <img src="assets/img/landing/webViewSecondaryCircleBehind.svg" class="img-fluid" alt="" />
        </div>
        <div class="col-lg-6 mt-3">
          <div class="container d-flex my-3">
            <i class="fas fa-check-circle fa-2x icon-blue"></i>
            <p class="ps-3 p-small">
              Integración con el SII para visualizar sus compras y ventas.
            </p>
          </div>
          <div class="container d-flex my-3">
            <i class="fas fa-check-circle fa-2x icon-blue"></i>
            <p class="ps-3 p-small">
              Enviar información a su contador mensualmente, necesario para el
              proceso de remuneraciones del mes.
            </p>
          </div>
          <div class="container d-flex my-3">
            <i class="fas fa-check-circle fa-2x icon-blue"></i>
            <p class="ps-3 p-small">
              Alertas y recordatorios de pagos de IVA, de plazos, montos de
              impuesto y enviados por su contador.
            </p>
          </div>
          <div class="container d-flex my-3">
            <i class="fas fa-check-circle fa-2x icon-blue"></i>
            <p class="ps-3 p-small">
              Enviar mensajes y recibir notificaciones de su contador.
            </p>
          </div>
          <div class="container d-flex my-3">
            <i class="fas fa-check-circle fa-2x icon-blue"></i>
            <p class="ps-3 p-small">
              Visualización de gráficos de Relación de compras y ventas,
              relación de IVA y promedio de ventas de sus negocios.
            </p>
          </div>
        </div>
      </div>
    </section>
  </section>

  <!--  Still not convinced that UI App is what your accounting business needs?-->
  <section class="container" style="margin-top: 6rem">
    <section class="container">
      <div class="row d-flex flex-row align-items-center mt-5">
        <div class="col-lg-6 mt-3">
          <h2 class="h2-big" style="width: 83%">
            ¿Aún no estás convencido de que IU App es lo que tu negocio contable necesita?
          </h2>
          <h2 class="h2-small my-5 span-color">
            Aquí 4 razones que te harán cambiar de opinión:
          </h2>
          <div style="width: 80%">
            <div class="container d-flex">
              <div class="circle-number">
                <p class="text-white fw-bold fs-5">1</p>
              </div>
              <p class="ps-3 p-small">
                El mayor porcentaje de clientes buscan servicios que satisfagan
                sus necesidades de forma online y en el menor tiempo posible.
              </p>
            </div>
            <div class="container d-flex">
              <div class="circle-number">
                <p class="text-white fw-bold fs-5">2</p>
              </div>
              <p class="ps-3 p-small">
                Los clientes quieren soluciones eficientes, sencillas y
                amigables.
              </p>
            </div>
            <div class="container d-flex">
              <div class="circle-number">
                <p class="text-white fw-bold fs-5">3</p>
              </div>
              <p class="ps-3 p-small">
                Como contador, podrás adquirir ventajas competitivas al ofrecer tus servicios 
                de forma digital en comparación al contador que lo entrega de forma tradicional.
              </p>
            </div>
            <div class="container d-flex">
              <div class="circle-number">
                <p class="text-white fw-bold fs-5">4</p>
              </div>
              <p class="ps-3 p-small">
                Es el mejor momento para que contadores y estudios contables se monten en la 
                ola digital, garanticen que puedan mantenerse en el mercado y escalen sus negocios.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img
            src="assets/img/landing/mobileViewTertiaryCircleBehind.svg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </section>
  </section>

  <!-- plans-->
  <section style="margin-top: 6rem">
    <section class="">
      <h1 class="h1-medium text-center mt-5">Planes</h1>
      <div class="d-flex justify-content-center">
        <p class="p-small text-center" style="width: 25%; font-weight: 500;">
          ¡No esperes más y haz que tu negocio contable comience a crecer!
        </p>
      </div>
      <div class="container d-flex justify-content-center">
        <button style="width: 120px;" class="button-active py-3 px-4 p-color-dark-blue">Mensual</button>
        <button style="width: 120px;" class="button-inactive px-4 mx-5">Semestral</button>
        <button style="width: 120px;" class="button-inactive px-4">Anual</button>
      </div>
      <div class="container">
        <div class="row gx-5 mt-5 mx-3 gy-3">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="shadow-1 d-flex flex-column text-center h-100 py-4" style="background-color: white; border-radius: 15px;">
              <h2 class="h2-medium my-4">Plan Estándar</h2>
              <div class="d-flex mx-3">
                <i class="fas fa-check-circle fa-2x icon-blue"></i>
                <p class="p-color-dark-blue text-start ps-3">
                  Acceso completo para contadores y clientes a la plataforma.
                </p>
              </div>
              <div class="d-flex mx-3 mt-3">
                <i class="fas fa-check-circle fa-2x icon-blue"></i>
                <p class="ps-3 p-color-dark-blue text-start">
                  Agrega hasta 20 clientes
                </p>
              </div>
              <div class="d-flex mx-3 mt-3">
                <i class="fas fa-check-circle fa-2x icon-blue"></i>
                <p class="ps-3 p-color-dark-blue text-start">
                  App iOS y Android para tus clientes
                </p>
              </div>
              <div class="d-flex mx-3 mt-3"><p class="ps-3 p-color-dark-blue text-start"></p></div>
              <div class="d-flex mx-3 mt-3"><p class="ps-3 p-color-dark-blue text-start"></p></div>
              <p class="p-big pt-3">$42.000</p>
              <p>Valor + IVA cada mes</p>
              <button class="btn-1 rounded-50 px-3 py-2 align-self-center">¡Quiero éste plan!</button>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="shadow-1 d-flex flex-column justify-content-between text-center h-100 py-4" style="background-color: white; border-radius: 15px;">
              <div>
                <h2 class="h2-medium my-4">Plan Silver</h2>
                <div class="d-flex mx-3">
                  <i class="fas fa-check-circle fa-2x icon-blue"></i>
                  <p class="p-color-dark-blue text-start ps-3">
                    Acceso completo para contadores y clientes a la plataforma.
                  </p>
                </div>
                <div class="d-flex mx-3 mt-3">
                  <i class="fas fa-check-circle fa-2x icon-blue"></i>
                  <p class="ps-3 p-color-dark-blue text-start">
                    Agrega hasta 50 clientes
                  </p>
                </div>
                <div class="d-flex mx-3 mt-3">
                  <i class="fas fa-check-circle fa-2x icon-blue"></i>
                  <p class="ps-3 p-color-dark-blue text-start">
                    App iOS y Android para tus clientes
                  </p>
                </div>
              </div>
              <div>
                <p class="p-big pt-3">$64.990</p>
                <p>Valor + IVA cada mes</p>
                <button class="btn-1 rounded-50 px-3 py-2 align-self-center">¡Quiero éste plan!</button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="shadow-1 d-flex flex-column justify-content-between text-center h-100 py-4" style="background-color: white; border-radius: 15px;">
              <div>
                <h2 class="h2-medium my-4">Plan Gold</h2>
                <div class="d-flex mx-3">
                  <i class="fas fa-check-circle fa-2x icon-blue"></i>
                  <p class="p-color-dark-blue text-start ps-3">
                    Acceso completo para contadores y clientes a la plataforma.
                  </p>
                </div>
                <div class="d-flex mx-3 mt-3">
                  <i class="fas fa-check-circle fa-2x icon-blue"></i>
                  <p class="ps-3 p-color-dark-blue text-start">
                    Agrega hasta 80 clientes
                  </p>
                </div>
                <div class="d-flex mx-3 mt-3">
                  <i class="fas fa-check-circle fa-2x icon-blue"></i>
                  <p class="ps-3 p-color-dark-blue text-start">
                    App iOS y Android para tus clientes
                  </p>
                </div>
              </div>
              <div>
                <p class="p-big pt-3">$96.000</p>
                <p>Valor + IVA cada mes</p>
                <button class="btn-1 rounded-50 px-3 py-2 align-self-center">¡Quiero éste plan!</button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="shadow-1 d-flex flex-column justify-content-between text-center h-100 py-4" style="background-color: white; border-radius: 15px;">
              <div>
                <h2 class="h2-medium my-4">Plan Enterprise</h2>
                <div class="d-flex mx-3">
                  <i class="fas fa-check-circle fa-2x icon-blue"></i>
                  <p class="p-color-dark-blue text-start ps-3">
                    Acceso completo para contadores y clientes a la plataforma.
                  </p>
                </div>
                <div class="d-flex mx-3 mt-3">
                  <i class="fas fa-check-circle fa-2x icon-blue"></i>
                  <p class="ps-3 p-color-dark-blue text-start">
                    Agrega mas de 80 clientes.
                  </p>
                </div>
                <div class="d-flex mx-3 mt-3">
                  <i class="fas fa-check-circle fa-2x icon-blue"></i>
                  <p class="ps-3 p-color-dark-blue text-start">
                    App iOS y Android para tus clientes
                  </p>
                </div>
                <div class="d-flex mx-3 mt-3">
                  <i class="fas fa-check-circle fa-2x icon-blue"></i>
                  <p class="ps-3 p-color-dark-blue text-start">Soporte ultra</p>
                </div>
              </div>
              <button class="btn-1 rounded-50 px-3 py-2 align-self-center">Contáctanos</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <!-- frequent questions -->
  <section class="container w-75 mb-5 pb-5" style="margin-top: 6rem">
    <section class="container py-5">
      <h2 class="h2-max text-center">Preguntas frecuentes</h2>
      <div class="container">
        <div class="d-flex flex-column align-items-start pt-4">
          <p class="p-medium p-question" data-bs-toggle="collapse" href="#questionOne" role="button" aria-expanded="false" aria-controls="questionOne">
            ¿Qué es Iuapp Contable?
            <img src="../../../assets/img/landing/downArrow.svg" class="arro-down" alt="down-arrow">
          </p>
          <div class="collapse" id="questionOne">
            <p class="p-small">
              Es una herramienta pensada para facilitar el trabajo de los
              Contadores. Esta aplicación les permite compartir información
              contable con sus clientes de forma sencilla, rápida y eficaz.
            </p>
          </div>

          <p class="p-medium p-question" data-bs-toggle="collapse" href="#questioTwo" role="button" aria-expanded="false" aria-controls="questioTwo">
            ¿Cómo me va a ayudar?
            <img src="../../../assets/img/landing/downArrow.svg" class="arro-down" alt="down-arrow">
          </p>
          <div class="collapse" id="questioTwo">
            <p class="p-small">No hay contenido</p>
          </div>

          <p class="p-medium p-question" data-bs-toggle="collapse" href="#questioThree" role="button" aria-expanded="false" aria-controls="questioThree">
            ¿Qué necesito para adquirIr Iuapp Contable?
            <img src="../../../assets/img/landing/downArrow.svg" class="arro-down" alt="down-arrow">
          </p>
          <div class="collapse" id="questioThree">
            <p class="p-small">No hay contenido</p>
          </div>

          <p class="p-medium p-question" data-bs-toggle="collapse" href="#questioFour" role="button" aria-expanded="false" aria-controls="questioFour">
            ¿Cuánto cuesta?
            <img src="../../../assets/img/landing/downArrow.svg" class="arro-down" alt="down-arrow">
          </p>
          <div class="collapse" id="questioFour">
            <p class="p-small">No hay contenido</p>
          </div>

          <p class="p-medium p-question" data-bs-toggle="collapse" href="#questioFive" role="button" aria-expanded="false" aria-controls="questioFive">
            ¿En qué sistemas funciona Iuapp?
            <img src="../../../assets/img/landing/downArrow.svg" class="arro-down" alt="down-arrow">
          </p>
          <div class="collapse" id="questioFive">
            <p class="p-small">No hay contenido</p>
          </div>

          <p class="p-medium p-question" data-bs-toggle="collapse" href="#questioSix" role="button" aria-expanded="false" aria-controls="questioSix">
            ¿Quienes pueden contratar Iuapp?
            <img src="../../../assets/img/landing/downArrow.svg" class="arro-down" alt="down-arrow">
          </p>
          <div class="collapse" id="questioSix">
            <p class="p-small">No hay contenido</p>
          </div>

          <p class="p-medium p-question" data-bs-toggle="collapse" href="#questioSeven" role="button" aria-expanded="false" aria-controls="questioSeven">
            ¿Cómo implemento el sistema?
            <img src="../../../assets/img/landing/downArrow.svg" class="arro-down" alt="down-arrow">
          </p>
          <div class="collapse" id="questioSeven">
            <p class="p-small">No hay contenido</p>
          </div>
        </div>
      </div>
    </section>
  </section>

  <!-- What our clients say -->
  <section class="mb-5">
    <h2 class="h2-medium text-center">Lo que dicen nuestros clientes</h2>
    
    <div class="slider overflow-hidden">
      <div class="slide-track mt-5">
        <div class="shadow-1 blue-panel px-5 pb-3 pt-5 slide">
          <i class="fas fa-quote-right fa-2x" style="color: black"></i>
          <p class="p-small">Fabian Castillo</p>
          <p class="p-ultra-small mb-0">Contador independiente</p>
          <p class="mb-0 p-xxs">
            Gracias a este software he mejorado la experiencia de usuario de mis clientes, ellos reciben todo lo que necesitan a través de Iuapp. Al entregarle una app a mis clientes hemos resuelto un gran problema
          </p>
        </div>
        <div class="shadow-1 px-5 pb-3 pt-5 slide">
          <i class="fas fa-quote-right fa-2x" style="color: black"></i>
          <p class="p-small">Cristian Hernández</p>
          <p class="p-ultra-small mb-0">Contador auditor</p>
          <p class="mb-0 p-xxs">
            Por fin los contadores contamos con una herramienta que nos facilita el flujo de trabajo y interacción con nuestros clientes, nos permitió digital nuestros servicios y mantener una comunicación fluida con ellos
          </p>
        </div>
        <div class="shadow-1 blue-panel px-5 pb-3 pt-5 slide">
          <i class="fas fa-quote-right fa-2x" style="color: black"></i>
          <p class="p-small">Claudia Campos</p>
          <p class="p-ultra-small mb-0">Contador independiente</p>
          <p class="mb-0 p-xxs">
            Iuapp Contable hizo posible que mi negocio contable. Hoy tengo más clientes y están felices con el servicio que entrego
          </p>
        </div>
      </div>
    </div>

    <div class="slider overflow-hidden">
      <div class="slide-track mb-5">
        <div class="shadow-1 blue-panel px-5 pb-3 pt-5 slide">
          <i class="fas fa-quote-right fa-2x" style="color: black"></i>
          <p class="p-small">Fabian Castillo</p>
          <p class="p-ultra-small mb-0">Contador independiente</p>
          <p class="mb-0 p-xxs">
            Gracias a este software he mejorado la experiencia de usuario de mis clientes, ellos reciben todo lo que necesitan a través de Iuapp. Al entregarle una app a mis clientes hemos resuelto un gran problema
          </p>
        </div>
        <div class="shadow-1 px-5 pb-3 pt-5 slide">
          <i class="fas fa-quote-right fa-2x" style="color: black"></i>
          <p class="p-small">Cristian Hernández</p>
          <p class="p-ultra-small mb-0">Contador auditor</p>
          <p class="mb-0 p-xxs">
            Por fin los contadores contamos con una herramienta que nos facilita el flujo de trabajo y interacción con nuestros clientes, nos permitió digital nuestros servicios y mantener una comunicación fluida con ellos
          </p>
        </div>
        <div class="shadow-1 blue-panel px-5 pb-3 pt-5 slide">
          <i class="fas fa-quote-right fa-2x" style="color: black"></i>
          <p class="p-small">Claudia Campos</p>
          <p class="p-ultra-small mb-0">Contador independiente</p>
          <p class="mb-0 p-xxs">
            Iuapp Contable hizo posible que mi negocio contable. Hoy tengo más clientes y están felices con el servicio que entrego
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- dark blue section -->
  <section class="dark-blue-panel p-5" style="margin-top: 6rem">
    <div class="container mx-auto d-flex flex-column justify-content-center rounded-7 p-5 my-5" style="background-color: white">
      <div class="d-flex align-items-center justify-items-center flex-wrap">
        <h2 class="text-start ms-3 mt-3">¡Conversemos!</h2>
        <button class="button-form-active px-2 ms-5 d-flex align-items-center justify-content-center p-2 mt-3">
          <i class="fas fa-calendar-alt me-3 py-2 px-1"></i>Programar una reunión
        </button>
        <button class="button-form-inactive px-2 ms-4 d-flex align-items-center justify-content-center p-2 mt-3">
          <i class="fab fa-whatsapp me-3 py-2 px-1"></i>Chat por Whatsapp
        </button>
      </div>

      <form action="" class="my-4">
        <div class="row g-2">
          <div class="col-lg-6 position-rel">
            <label for="form-label" class="position-abs">Nombre</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
          </div>
          <div class="col-lg-6 position-rel">
            <label for="form-label" class="position-abs">Nombre de tu negocio contable</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
          </div>
        </div>
        <div class="row g-2 my-4">
          <div class="col-lg-12 position-rel">
            <label for="form-label" class="position-abs">Correo</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
          </div>
        </div>

        <div class="row g-2 mt-4">
          <div class="col-lg-6 position-rel">
            <label for="form-label" class="position-abs">Whatsapp</label>
            <input type="number" class="form-control py-2" id="exampleInputEmail1" aria-describedby="emailHelp" />
          </div>
          <div class="col-lg-6 position-rel">
            <label for="form-label" class="position-abs">Cantidad de Clientes</label>
            <select class="form-select py-2" id="floatingSelectGrid">
              <option selected>Selecciona una cantidad</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </form>
      <div
        class="d-flex flex-row align-items-center justify-content-between mt-5"
      >
        <p class="p-ultra-small m-0">
          Al continuar, acepto
          <a href=""> políticas y condiciones y política de privacidad</a>
        </p>
        <button class="btn-1 rounded-50 px-3 py-3">Enviar y programar reunión</button>
      </div>
    </div>
  </section>
</main>
