<main class="mx-0 w-100 p-0" style="background-color: bg-gray">
  <section class="d-flex align-items-center flex-wrap justify-content-end" style="background-color: #fcfcfc;">
    <div class="col-xxl-6 col-lg-5 col-sm-9 col-10 pt-5 pb-lg-5 mx-lg-0 mx-auto scale-your-service">
      <h1 style="font-size: 50px">
        <b>¿Quieres escalar tu <span class="color-1">servicio contable</span> a otro nivel?</b>
      </h1>
      <p class="my-4 descriptions">
        ¡Digitaliza tus servicios y obtén más rapidez y eficiencia para atender a muchos más clientes! IU App Contable es una plataforma y App que te permitirá maximizar y agilizar el intercambio de información con tus clientes.
      </p>
      <a class="btn btn-1 rounded-pill" href="#form">
        ¡Quiero saber más!
      </a>
    </div>
    <div class="col-xxl-5 col-lg-6 col-md-8 col-12">
      <img src="assets/img/landing/viewsAppImage.svg" width="100%" style="object-fit: contain;" alt="viewsAppImage">
    </div>
  </section>

  <!-- integration -->
  <section class="d-flex align-items-center justify-content-center gap-3 flex-md-row flex-column p-4">
    <img width="110px" src="assets/img/logo.svg" alt="logo"/>
    <span class="fs-5 fw-500 color-1">se integra con</span>
    <img width="40px" src="assets/img/Logo_de_Servicio_de_Impuestos_Internos.png" alt="logoSii"/>
  </section>

  <!--ligthBlue panel  -->
  <section class="ligth-blue-panel" style="padding: 3vw 20px;">
    <section class="pt-5 text-center mx-auto" style="width: 100%; max-width: 700px">
        <i class="fas fa-exchange-alt fs-2 mb-3"></i>
        <h2 class="fs-7"><b>La interacción digital entre el contador y el cliente es una necesidad.</b></h2>
        <p class="my-3 fs-4 fw-500 color-1">Aprovechamos la era digital y lo hacemos posible.</p>
        <p class="fs-5 mb-4">
          IU App Contable es el partner tecnológico que todo contador
          independiente y estudio contable necesita para lograr que su negocio
          siga creciendo. Es una plataforma y app móvil en la nube intuitiva,
          interactiva y muy versátil para hacer más eficiente la entrega de tu
          servicio contable.
        </p>
        <button class="btn-1 rounded-pill">¡Quiero saber más!</button>
    </section>
    <section class="container text-lg-start text-center">
      <section class="d-flex justify-content-between align-items-center flex-wrap mt-5">
        <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-10 col-12 mx-auto">
          <i class="fas fa-chart-line fs-2 color-1"></i>
          <h2 class="fs-7 my-3"><b>Somos tu mejor opción para crecer.</b></h2>
          <p class="fs-5">
            IU App Contable te permitirá <span class="color-1">digitalizar tus servicios contables y automatizar la interacción con tus clientes.</span>
            Ahorrarás tiempo valioso que te permitirá tener mayor capacidad para atender a muchos más interesados en tus servicios.
          </p>
        </div>
        <div class="col-xxl-5 col-lg-6 col-sm-10 col-12 mx-auto">
          <img src="assets/img/landing/webViewCircleBehind.svg" width="100%" alt="webViewCircleBehind" />
        </div>
      </section>
      <section class="d-flex justify-content-between align-items-center flex-row-reverse flex-wrap mt-5">
        <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-10 col-12 mx-auto my-3">
          <i class="fas fa-tachometer-alt fs-2 color-1"></i>
          <h2 class="fs-7 my-3"><b>Información al alcance de un clic.</b></h2>
          <p class="fs-5">
            Ya no tendrás que reunirte físicamente con tus clientes, podras
            ofrecer tus servicios contables de manera digital.
          </p>
        </div>
        <div class="col-xxl-5 col-lg-6 col-sm-10 col-12 mx-auto">
          <img src="assets/img/landing/mobileViewCircleBehind.svg" width="100%" alt="mobileViewCircleBehind" />
        </div>
      </section>
      <section class="d-flex justify-content-between align-items-center flex-wrap mt-5">
        <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-10 col-12 mx-auto my-3">
          <i class="fas fa-bell fs-2 color-1"></i>
          <h2 class="fs-7 my-3"><b>Envía alertas de recordatorios a tus clientes.</b></h2>
          <p class="fs-5">
            <span class="color-1">Tendrás la posibilidad de ofrecerle una App a tus clientes,</span>
            y enviarle a través nuestra plataforma alertas de recordatorios de
            fechas y montos de pago de las imposiciones de sus trabajadores y
            impuestos en SII, así tus clientes nunca olvidarán realizar un
            pago.
          </p>
        </div>
        <div class="col-xxl-5 col-lg-6 col-sm-10 col-12 mx-auto">
          <img src="assets/img/landing/mobileViewSecondaryCircleBehind.svg" width="100%" alt="mobileViewSecondaryCircleBehind" />
        </div>
      </section>
    </section>
  </section>

  <!-- digitalize service -->
  <section class="pt-5">
    <section class="mx-auto" style="width: 85%">
      <div class="container">
        <div class="row d-flex align-items-center justify-content-around">
          <div class="col-lg-6 we-are me-auto">
            <h2 class="text-center h2-medium pt-5 text-nowrap">¿Qué es <span class="span-color">IU App Contable</span>?</h2>
            <p class="p-small">IU App es una plataforma y app móvil que permite interactuar a contadores independientes y estudios contables con sus clientes de forma 100% digital.</p>
          </div>

          <div class="col d-flex p-relat">
            <img src="../../../assets/img/HowDoesItWork/white.svg" alt="" class="img-fluid">
            <p id="howDoesItWorki"></p>
          </div>
        </div>
      </div>
    </section>

    <p class="py-0 py-lg-5"></p>
    <h2 class="text-center h2-medium">¿Cómo funciona?</h2>

    <section class="mx-auto">
      <div class="container">
        <div class="row what-is-IU">
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 mt-4">
            <div class="row text-center">
              <div class="align-items-center justify-content-center">
                <img src="../../../assets/img/HowDoesItWork/Frame 31430.svg" alt="">
                <div class="mt-2 mt-md-5">
                  <img src="../../../assets/img/landing/1.svg" class="exclude" alt="">
                </div>
                <p class="descriptionsI p-small fw-bold p-color-dark-blue mt-4 mb-0">Regístrate y Suscríbete</p>
                <p class="descriptionsI mt-3">
                  En solo unos pocos minutos ingresa el correo electrónico con el cual crearas tu cuenta y
                  ingresa tu nombre como contador independiente o de tu estudio contable.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 col-xl-4">
            <div class="row text-center">
              <div class="align-items-center justify-content-center">
                <img src="../../../assets/img/HowDoesItWork/Frame 31404.svg" alt="">
                <div class="mt-1 mt-md-4">
                  <img src="../../../assets/img/landing/2.svg" class="exclude" alt="">
                </div>
                <p class="descriptionsI p-small fw-bold p-color-dark-blue mb-0 mt-4">Digitaliza tus servicios contables</p>
                <p class="descriptionsI mt-3">
                  Ingresa a tus clientes en la plataforma y de forma automática les llegará un 
                  correo electrónico a tus clientes para que descarguen y se registren en la app
                  móvil, así crearán su propia cuenta y podrán iniciar la interacción digital.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 mt-4 pb-1 pb-sm-5">
            <div class="row text-center">
              <div class="align-items-center justify-content-center">
                <img src="../../../assets/img/HowDoesItWork/Frame 31431.svg" alt="">
                <div class="mt-1 mt-md-5 ">
                  <img src="../../../assets/img/landing/3.svg" class="exclude" alt="">
                </div>
                <p class="descriptionsI p-small fw-bold p-color-dark-blue mb-0 mt-4">¡Listo! ¡Tú y tus clientes felices!</p>
                <p class="descriptionsI mt-3">
                  Listo, ya puedes disfrutar de todas las funciones y ventajas que te brinda IU App. Ofrecer una mejor experiencia 
                  a tus usuarios es la clave para escalar tus servicios contables al siguiente nivel, y con IU App lo harás posible.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <!-- blue panel -->
  <section class="blue-panel pt-5 mt-5">
    <section class="mx-0 px-0 pt-3" style="width: 100%">
      <div class="row gx-0">
        <div class="col-lg-2 col-lg-0 p-0 d-flex flex-column justify-content-center align-items-start"></div>
        <div class="col-lg-4 d-flex p-0 flex-column justify-content-center align-items-start px-4 mb-3 max-it-works">
          <h2 class="h2-medium">IU App Contable es <span class="span-color">Rapidez y Eficiencia</span></h2>
          <p class="descriptions mt-2 mb-4">
            Con tan solo suscribirte a alguno de nuestros planes, lograrás ser más eficiente en los tiempos de respuesta a tus clientes, 
            el cumplimiento de plazos, mantener un historial de mensajes con tus clientes,  generación de alertas de recordatorio, entre otros.
          </p>
          <button class="btn-1 rounded-50 px-3 px-sm-4 py-1 py-sm-3">¡Quiero la aplicación!</button>
        </div>
        <div class="col-lg-6 container d-flex p-0 flex-row justify-content-end align-items-center pe-0 me-0 p-relat">
          <img class="m0 p0" src="assets/img/landing/mobileDualView.svg" class="img-fluid" alt="" />
          <p id="features"></p>
        </div>
      </div>
    </section>
  </section>
  
  <!-- digitalize service -->
  <p class="py-0 py-lg-5"></p>

  <section class="pt-5 pt-sm-5">
    <h2 class="text-center h2-medium pt-0 pt-sm-5">Con nosotros podrás <span class="span-color">digitalizar tu servicio contable</span></h2>
    <section class="mx-auto mt-5 digitize">
      <div class="container">
        
        <div class="ms-2 ms-sm-0 row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-3 col-lg-2">
                <i class="fas fa-mobile-alt fa-3x icon-blue"></i>
              </div>
              <div class="col-8">
                <p class="p-small fw-bold p-color-dark-blue mb-0 fw-700">App móvil</p>
                <p class="descriptions">
                  Entrega toda la información contable a tus clientes en la palma de su mano y en tiempo real.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-3 col-lg-3">
                <i class="fas fa-desktop fa-3x icon-blue"></i>
              </div>
              <div class="col-8">
                <p class="p-small fw-bold p-color-dark-blue mb-0 fw-700">Digitalización</p>
                <p class="descriptions">Ahora podrás prestar tu servicio contable de forma online. Ofreceras respuestas más rápidas y oportunas.</p>
              </div>
            </div>
          </div>
        </div>

        <div class=" ms-2 ms-sm-0 row mt-3">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-3 col-lg-2">
                <i class="fas fa-paste fa-3x icon-blue"></i>
              </div>
              <div class="col-8">
                <p class="p-small fw-bold p-color-dark-blue mb-0 fw-700">Envío de Reportes</p>
                <p class="descriptions">Tú y tus clientes tendrán siempre disponible la información necesaria para tomar mejores decisiones en su móvil.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-3 col-lg-3">
                <i class="fas fa-cog fa-3x icon-blue"></i>
              </div>
              <div class="col-8">
                <p class="p-small fw-bold p-color-dark-blue mb-0 fw-700">Integraciones</p>
                <p class="descriptions">Nos conectamos con el SII para que puedas que tú y tus clientes puedan ver sus compras y ventas en tiempo real.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="ms-2 ms-sm-0 row mt-3">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-3 col-lg-2">
                <i class="far fa-bell fa-3x icon-blue"></i>
              </div>
              <div class="col-8">
                <p class="p-small fw-bold p-color-dark-blue mb-0 fw-700">Alertas de recordatorio</p>
                <p class="descriptions">A través de IU App Contable podras enviar alertas de recordatorio a tus clientes.
                  </p>
                </div>
              </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-3 col-lg-3">
                <i class="fas fa-user-friends fa-3x icon-blue"></i>
              </div>
              <div class="col-8">
                <p class="p-small fw-bold p-color-dark-blue mb-0 fw-700">Experiencia de usuario</p>
                <p class="descriptions">Tendrás siempre una comunicación fluida y oportuna con tus clientes, podrás dar respuestas desde cualquier lugar y en cualquier momento</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <!-- Functionalities -->
  <section class="container pt-5" style="margin-top: 6rem">
    <section class="shadow-1 p-3 p-sm-5 mt-5 allFunctionalities" style="background-color: white">
      <div class="d-flex flex-column align-items-start pt-5">
        <h2 class="h2-medium col-12 col-xl-6">
          Todas las funcionalidades que un
          <span class="span-color">Contador</span> necesita en un solo lugar.
        </h2>
        <div class="pt-5" style="font-weight: 500;">
          <div class="row justify-content-between">
            <div class="col-12 col-md-4 col-xxl-3 d-flex align-items-center">
              <i class="fas fa-check-circle fs-4 icon-green"></i>
              <p class="ps-3 p-color-dark-blue p-small m-0">
                Dashboard con información de tu estudio contable.
              </p>
            </div>
            <div class="col-12 col-md-4 col-xxl-3 d-flex align-items-center">
              <i class="fas fa-check-circle fs-4 icon-green"></i>
              <p class="ps-3 p-color-dark-blue p-small m-0">
                Envío de mensajes con tus clientes a través de la App.
              </p>
            </div>
            <div class="col-12 col-md-4 col-xxl-3 d-flex align-items-center">
              <i class="fas fa-check-circle fs-4 icon-green"></i>
              <p class="ps-3 p-color-dark-blue p-small m-0">
                Integración con el SII
              </p>
            </div>
          </div>
          
          <div class="row py-0 py-sm-5 justify-content-between">
            <div class="col-12 col-md-4 col-xxl-3 d-flex align-items-center">
              <i class="fas fa-check-circle fs-4 icon-green"></i>
              <p class="ps-3 p-color-dark-blue p-small m-0">
                Envío de Reportes Contables y de Remuneraciones.
              </p>
            </div>
            <div class="col-12 col-md-4 col-xxl-3 d-flex align-items-center">
              <i class="fas fa-check-circle fs-4 icon-green"></i>
              <p class="ps-3 p-color-dark-blue p-small m-0">
                Visualización de saldos y gráfico de movimientos de compras y
                ventas.
              </p>
            </div>
            <div class="col-12 col-md-4 col-xxl-3 d-flex align-items-center">
              <i class="fas fa-check-circle fs-4 icon-green"></i>
              <p class="ps-3 p-color-dark-blue p-small m-0">
                Recibe información de tus clientes para realizar el proceso
                mensual de remuneraciones.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <!-- Discover what UI Accounting App offers your clients -->
  <section class="container" style="margin-top: 13rem">
    <h2 class="h2-medium text-center mb-5">Descubre lo que <span class="span-color">IU App Contable le ofrece a tus clientes</span></h2>
    <div class="row d-flex flex-row mt-5">
      <div class="col-lg-6 text-center image-min">
        <img src="assets/img/landing/webViewSecondaryCircleBehind.svg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 mt-0 mt-sm-3 max-discover">
        <div class="container d-flex align-items-center my-1 my-sm-3">
          <i class="fas fa-check-circle fs-4 icon-blue"></i>
          <p class="m-0 ps-3 descriptions">Integración con el SII para visualizar sus compras y ventas.</p>
        </div>
        <div class="container d-flex align-items-center my-1 my-sm-3">
          <i class="fas fa-check-circle fs-4 icon-blue"></i>
          <p class="m-0 ps-3 descriptions">Enviar información a su contador mensualmente, necesario para el proceso de remuneraciones del mes.</p>
        </div>
        <div class="container d-flex align-items-center my-1 my-sm-3">
          <i class="fas fa-check-circle fs-4 icon-blue"></i>
          <p class="m-0 ps-3 descriptions">Alertas y recordatorios de pagos de IVA, de plazos, montos de impuesto y enviados por su contador.</p>
        </div>
        <div class="container d-flex align-items-center my-1 my-sm-3">
          <i class="fas fa-check-circle fs-4 icon-blue"></i>
          <p class="m-0 ps-3 descriptions">Enviar mensajes y recibir notificaciones de su contador.</p>
        </div>
        <div class="container d-flex align-items-center my-1 my-sm-3">
          <i class="fas fa-check-circle fs-4 icon-blue"></i>
          <p class="m-0 ps-3 descriptions">Visualización de gráficos de Relación de compras y ventas, relación de IVA y promedio de ventas de sus negocios. </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Still not convinced that UI App is what your accounting business needs? -->
  <section class="container" style="margin-top: 6rem">
    <section class="container">
      <div class="row d-flex flex-row align-items-center mt-5">
        <div class="col-lg-6 mt-3">
          <h2 class="h2-medium max-h2-still">¿Aún no estás convencido de que IU App es lo que tu negocio contable necesita?</h2>
          <h2 class="h2-small mt-3 mb-4 mt-sm-5 mb-sm-5 span-color">Aquí 4 razones que te harán cambiar de opinión:</h2>
          <div class="col-12 col-md-11">
            <div class="container d-flex align-items-center">
              <div class="circle-number">
                <p class="text-white fw-bold">1</p>
              </div>
              <p class="ps-3 descriptions">El mayor porcentaje de clientes buscan servicios que satisfagan sus necesidades de forma online y en el menor tiempo posible.</p>
            </div>
            <div class="container d-flex align-items-center">
              <div class="circle-number">
                <p class="text-white fw-bold">2</p>
              </div>
              <p class="ps-3 descriptions">Los clientes quieren soluciones eficientes, sencillas y amigables.</p>
            </div>
            <div class="container d-flex align-items-center">
              <div class="circle-number">
                <p class="text-white fw-bold">3</p>
              </div>
              <p class="ps-3 descriptions">Como contador, podrás adquirir ventajas competitivas al ofrecer tus servicios de forma digital en comparación al contador que lo entrega de forma tradicional.</p>
            </div>
            <div class="container d-flex align-items-center">
              <div class="circle-number">
                <p class="text-white fw-bold">4</p>
              </div>
              <p class="ps-3 descriptions">Es el mejor momento para que contadores y estudios contables se monten en la ola digital, garanticen que puedan mantenerse en el mercado y escalen sus negocios.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 image-min text-center p-relat">
          <img src="assets/img/landing/mobileViewTertiaryCircleBehind.svg" class="img-fluid" alt="" />
          <p id="prices"></p>
        </div>
      </div>
    </section>
  </section>

  <!-- plans-->
  <p class="py-0 py-lg-5"></p>
  <section>
    <section class="">
      <h2 class="fs-8 text-center"><b>Planes</b></h2>
      <p class="text-center w-100 fw-500 mx-auto fs-5" style="max-width: 450px;">
        ¡No esperes más y haz que tu negocio contable comience a crecer!
      </p>
      <div class="d-flex justify-content-center gap-3 my-2">
        <button (click)="price = ['$35.000','$65.000','$90.000']" [style.opacity]="price[0] != '$35.000' ? 0.5 : 1" class="btn btn-3 fw-500 px-3 py-2">Mensual</button>
        <button (click)="price = ['$200.000','$370.000','$510.000']" [style.opacity]="price[0] != '$200.000' ? 0.5 : 1" class="btn btn-3 fw-500 px-3 py-2">Semestral</button>
        <button (click)="price = ['$390.000','$725.000','$1.005.000']" [style.opacity]="price[0] != '$390.000' ? 0.5 : 1" class="btn btn-3 fw-500 px-3 py-2">Anual</button>
      </div>
      <div class="d-flex justify-content-center gap-4 mt-4 flex-wrap p-3">
        <div class="shadow d-flex flex-column text-center gap-2 rounded-16 mx-2" style="padding: 30px; width: 350px; height: 600px;">
          <h2 class="mb-3">Plan Estándar</h2>
          <div class="d-flex align-items-center gap-3">
            <i class="fas fa-check-circle fs-4 color-1"></i>
            <span class="text-start">Acceso completo para contadores y clientes a la plataforma.</span>
          </div>
          <div class="d-flex align-items-center gap-3 my-2">
            <i class="fas fa-check-circle fs-4 color-1"></i>
            <span class="text-start">Agrega entre 0 y 20 clientes.</span>
          </div>
          <div class="d-flex align-items-center gap-3">
            <i class="fas fa-check-circle fs-4 color-1"></i>
            <span class="text-start">App iOS y Android para tus clientes.</span>
          </div>
          <span class="mt-auto fs-3 fw-500">{{price[0]}}</span>
          <span class="fw-500">Valor + IVA cada mes</span>
          <button class="btn-1 rounded-pill btn mt-2 mx-auto">¡Quiero éste plan!</button>
        </div>
        <div class="shadow d-flex flex-column text-center gap-2 rounded-16 mx-2" style="padding: 30px; width: 350px; height: 600px;">
          <h2 class="mb-3">Plan Silver</h2>
          <div class="d-flex align-items-center gap-3">
            <i class="fas fa-check-circle fs-4 color-1"></i>
            <span class="text-start">Acceso completo para contadores y clientes a la plataforma.</span>
          </div>
          <div class="d-flex align-items-center gap-3 my-2">
            <i class="fas fa-check-circle fs-4 color-1"></i>
            <span class="text-start">Agrega entre 21 y 50 clientes.</span>
          </div>
          <div class="d-flex align-items-center gap-3">
            <i class="fas fa-check-circle fs-4 color-1"></i>
            <span class="text-start">App iOS y Android para tus clientes.</span>
          </div>
          <span class="mt-auto fs-3 fw-500">{{price[1]}}</span>
          <span class="fw-500">Valor + IVA cada mes</span>
          <button class="btn-1 rounded-pill btn mt-2 mx-auto">¡Quiero éste plan!</button>
        </div>
        <div class="shadow d-flex flex-column text-center gap-2 rounded-16 mx-2" style="padding: 30px; width: 350px; height: 600px;">
          <h2 class="mb-3">Plan Gold</h2>
          <div class="d-flex align-items-center gap-3">
            <i class="fas fa-check-circle fs-4 color-1"></i>
            <span class="text-start">Acceso completo para contadores y clientes a la plataforma.</span>
          </div>
          <div class="d-flex align-items-center gap-3 my-2">
            <i class="fas fa-check-circle fs-4 color-1"></i>
            <span class="text-start">Agrega entre 51 y 80 clientes.</span>
          </div>
          <div class="d-flex align-items-center gap-3">
            <i class="fas fa-check-circle fs-4 color-1"></i>
            <span class="text-start">App iOS y Android para tus clientes.</span>
          </div>
          <span class="mt-auto fs-3 fw-500">{{price[2]}}</span>
          <span class="fw-500">Valor + IVA cada mes</span>
          <button class="btn-1 rounded-pill btn mt-2 mx-auto">¡Quiero éste plan!</button>
        </div>
        <div class="shadow d-flex flex-column text-center gap-2 rounded-16 mx-2" style="padding: 30px; width: 350px; height: 600px;">
          <h2 class="mb-3">Plan Enterprise</h2>
          <div class="d-flex align-items-center gap-3">
            <i class="fas fa-check-circle fs-4 color-1"></i>
            <span class="text-start">Acceso completo para contadores y clientes a la plataforma.</span>
          </div>
          <div class="d-flex align-items-center gap-3 my-2">
            <i class="fas fa-check-circle fs-4 color-1"></i>
            <span class="text-start">Agrega Más de 80 clientes.</span>
          </div>
          <div class="d-flex align-items-center gap-3">
            <i class="fas fa-check-circle fs-4 color-1"></i>
            <span class="text-start">App iOS y Android para tus clientes.</span>
          </div>
          <div class="d-flex align-items-center gap-3">
            <i class="fas fa-check-circle fs-4 color-1"></i>
            <span class="text-start">Soporte ultra.</span>
          </div>
          <button class="btn-1 rounded-pill btn mt-2 mt-auto mx-auto">¡Quiero éste plan!</button>
        </div>
      </div>
    </section>
  </section>

  <!-- frequent questions -->
  <section class="container col-12 col-lg-9 mb-0 pb-0 mb-sm-5 pb-sm-5" style="margin-top: 6rem">
    <section class="container py-5">
      <h2 class="h2-medium text-center">Preguntas frecuentes</h2>
      <div class="container">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed p-medium fw-590" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                ¿Qué es IU App Contable?
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body p-small">Es una herramienta pensada para facilitar el trabajo de los Contadores. Esta aplicación les permite compartir información contable con sus clientes de forma sencilla, rápida y eficaz.</div>
            </div>
          </div>
          
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed p-medium fw-590" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                ¿Cómo me va a ayudar?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body p-small">IU App Contable te permitirá maximizar tu trabajo, ayudando a que tu interacción con cada cliente sea oportuna. 
                Podrás ofrecer información en tiempo real a tus clientes en solo minutos, lista de clientes, tareas pendientes, recibos de pagos por servicios prestados y mucho más.
                IU App Contable es la aplicación que mejorará el flujo de trabajo de tu negocio contable. Esta herramienta te ayudará a planificar tus actividades, y por ende, a gestionar mejor tu tiempo. De esta manera podrás aumentar la cantidad de clientes, brindando siempre un servicio que cumpla con los mayores estándares de calidad.
                </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed p-medium fw-590" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                ¿Qué necesito para adquirir IU App Contable?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body p-small">Sólo tienes que pagar la suscripción.
                <p class="text-center"><strong>---¡Suscribete ya!---</strong></p>
                </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed p-medium fw-590" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                ¿Cuánto cuesta?
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body p-small">
                Existen cuatro planes:
                <ul class="ms-1 ms-md-3">
                  <li class="fw-bold"><small>Plan Estándar hasta 20 clientes: $35.000</small></li>
                  <li class="fw-bold"><small>Plan Silver hasta 50 clientes: $65.000</small></li>
                  <li class="fw-bold"><small>Plan Gold hasta 80 clientes : $90.000</small></li>
                  <li class="fw-bold"><small>Plan Enterprise más de 80 clientes: Contactanos!</small></li>
                </ul>
                </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed p-medium fw-590" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                ¿En qué sistemas funciona IU App?
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body p-small">Iu App es una plataforma y aplicación móvil 100% en la nube, funciona en PC y dispositivos móviles iPhone y Android.</div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
              <button class="accordion-button collapsed p-medium fw-590" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                ¿Quienes pueden contratar IU App?
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body p-small">Contadores independientes y Estudios contables, cualquier contador de Chile que quiera escalar y digitalizar sus servicios.</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <!-- What our clients say -->
  <section class="mb-5">
    <h2 class="h2-medium text-center">Lo que dicen nuestros clientes</h2>
    
    <div class="overflow-hidden px-1 px-sm-5">
      <div class="slide-track mt-3 mt-sm-5 row">
        <div class="col-12 col-xl-4 mb-4 px-4">
          <div class="h-100 shadow-1 blue-panel px-5 py-4 slide">
            <div class="d-flex justify-content-between">
              <i class="fas fa-quote-right fa-2x" style="color: black"></i>
              <img src="../../../assets/img/landing/five.svg" alt="" width="100px" class="imgFilter">
            </div>
            <p class="p-small fw-700">Fabian Castillo</p>
            <p class="fw-590 mb-0">Contador independiente</p>
            <p class="mb-0 p-xxs">
              Gracias a este software he mejorado la experiencia de usuario de mis clientes, ellos reciben todo lo que necesitan a través de IU App. Al entregarle una app a mis clientes hemos resuelto un gran problema
            </p>
          </div>
        </div>

        <div class="col-12 col-xl-4 mb-4 px-4">
          <div class="h-100 shadow-1 px-5 py-4 slide">
            <div class="d-flex justify-content-between">
              <i class="fas fa-quote-right fa-2x" style="color: black"></i>
              <img src="../../../assets/img/landing/five.svg" alt="" width="100px" class="imgFilter">
            </div>
            <p class="p-small fw-700">Cristian Hernández</p>
            <p class="fw-590 mb-0">Contador auditor</p>
            <p class="mb-0 p-xxs">
              Por fin los contadores contamos con una herramienta que nos facilita el flujo de trabajo y interacción con nuestros clientes, nos permitió digital nuestros servicios y mantener una comunicación fluida con ellos
            </p>
          </div>
        </div>
        
        <div class="col-12 col-xl-4 mb-4 px-4">
          <div class="h-100 shadow-1 blue-panel px-5 py-4 slide">
            <div class="d-flex justify-content-between">
              <i class="fas fa-quote-right fa-2x" style="color: black"></i>
              <img src="../../../assets/img/landing/five.svg" alt="" width="100px" class="imgFilter">
            </div>
            <p class="p-small fw-700">Claudia Campos</p>
            <p class="fw-590 mb-0">Contador independiente</p>
            <p class="mb-0 p-xxs">
              IU App Contable hizo posible que mi negocio contable. Hoy tengo más clientes y están felices con el servicio que entrego
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="slider overflow-hidden px-1 px-sm-5">
      <div class="slide-track mt-2 row mb-5">
        <div class="col-12 col-xl-4 mb-4 px-4">
          <div class="h-100 shadow-1 px-5 py-4 slide">
            <div class="d-flex justify-content-between">
              <i class="fas fa-quote-right fa-2x" style="color: black"></i>
              <img src="../../../assets/img/landing/five.svg" alt="" width="100px" class="imgFilter">
            </div>
            <p class="p-small fw-700">Jessica Zamorano</p>
            <p class="fw-590 mb-0">Contador auditor</p>
            <p class="mb-0 p-xxs">
              Desde que uso IU App puedo administrar mejor mi tiempo, organizo mejor la comunicación con mis clientes y digitalizamos nuestros servicios contables y de remuneraciones entregándoles un servicio de calidad.
            </p>
          </div>
        </div>

        <div class="col-12 col-xl-4 mb-4 px-4">
          <div class="h-100 shadow-1 blue-panel px-5 py-4 slide">
            <div class="d-flex justify-content-between">
              <i class="fas fa-quote-right fa-2x" style="color: black"></i>
              <img src="../../../assets/img/landing/five.svg" alt="" width="100px" class="imgFilter">
            </div>
            <p class="p-small fw-700">Barbara Morales</p>
            <p class="fw-590 mb-0">Contador auditor</p>
            <p class="mb-0 p-xxs">
              IU App le dio ventajas competitivas a mi negocio, ahora ofrezco un servicio contable digital a mis clientes y me permite tener el control de mi empresa de contabilidad.
            </p>
          </div>
        </div>
        
        <div class="col-12 col-xl-4 mb-4 px-4">
          <div class="h-100 shadow-1  px-5 py-4 slide">
            <div class="d-flex justify-content-between">
              <i class="fas fa-quote-right fa-2x" style="color: black"></i>
              <img src="../../../assets/img/landing/five.svg" alt="" width="100px" class="imgFilter">
            </div>
            <p class="p-small fw-700">Jessica Zamorano</p>
            <p class="fw-590 mb-0">Contador auditor</p>
            <p class="mb-0 p-xxs">
              Desde que uso IU App puedo administrar mejor mi tiempo, organizo mejor la comunicación con mis clientes y digitalizamos nuestros servicios contables y de remuneraciones entregándoles un servicio de calidad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- dark blue section -->
  <section class="dark-blue-panel py-5 px-3 px-sm-5" style="margin-top: 6rem">
    <div class="container mx-auto d-flex flex-column justify-content-center rounded-7 p-3 my-4 p-sm-5 my-sm-5 dark-blue-panel-content">
      <div class="d-flex align-items-center justify-items-center flex-wrap">
        <h2 class="text-start mt-3 me-4">¡Conversemos!</h2>
        
        <div class="d-flex">
          <button [ngClass]="letsTalk ? 'button-form-active' : 'button-form-inactive'" (click)="letsTalk = true" class="me-3 d-flex align-items-center justify-content-center py-2 py-sm-3 px-1 px-sm-3">
            <i class="fas fa-calendar-alt">&nbsp;&nbsp;&nbsp;<span> Programar una reunión</span></i>
          </button>
  
          <button [ngClass]="!letsTalk ? 'button-form-active' : 'button-form-inactive'" (click)="letsTalk = false" class="d-flex align-items-center justify-content-center py-2 py-sm-3 px-1 px-sm-3">
            <i class="fab fa-whatsapp">&nbsp;&nbsp;&nbsp;<span> Chat por Whatsapp</span></i>
          </button>
        </div>
      </div>

      <form action="" class="my-4">
        <div class="row g-2">
          <div class="col-lg-6 my-3 position-rel">
            <label for="form-label" class="position-abs">Nombre</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre" />
          </div>
          <div class="col-lg-6 my-3 position-rel">
            <label for="form-label" class="position-abs">Nombre de tu negocio contable</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre de tu negocio contable" />
          </div>
        </div>
        <div class="row g-2">
          <div class="col-lg-12 my-3 position-rel">
            <label for="form-label" class="position-abs">Correo</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Contacto@gmail.com" />
          </div>
        </div>

        <div class="row g-2">
          <div class="col-lg-6 my-3 position-rel">
            <label for="form-label" class="position-abs">Whatsapp</label>
            <input type="text" class="form-control py-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="56 9 1152215286" />
          </div>
          <div class="col-lg-6 my-3 position-rel">
            <label for="form-label" class="position-abs">Cantidad de Clientes</label>
            <select class="form-select py-2" id="floatingSelectGrid">
              <option selected>Selecciona una cantidad</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="row align-items-center justify-content-between">
          <p class="col-12 col-md-9 mb-3 mb-md-0 m-0"><small>Al continuar, acepto <strong><a href="" class="text-dark"> políticas y condiciones y política de privacidad</a></strong></small></p>
          <button class="col btn-1 rounded-50 mx-2 mx-sm-0 mt-3 mt-sm-0 px-1 py-2 px-sm-3 py-sm-3" type="submit">{{letsTalk ? 'Enviar y programar reunión' : 'Contactame por WhatsApp'}}</button>
        </div>
      </form>
    </div>
  </section>
</main>
