// backgrounds
.ligth-blue-panel{
    background-color: rgba(91, 120, 238, 0.1);
}
.blue-panel{
    background-color: rgba(91, 120, 238, 0.2);
}
.dark-blue-panel{
    background: linear-gradient(110.18deg, #607EF6 0.52%, #304ED6 74.92%);    
}

// text size
.p-small{
    font-size: 20px;
}

// color
.icon-green{
    color:rgba(17, 215, 49, 0.6);
}
.bg-clients {
    background-color: rgba(91, 120, 238, 0.2);
}

// shadows
.shadow-1{
    box-shadow: 0px 0px 40px 0px rgba(125, 107, 190, 0.1);
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

// buttons
.button-form-active{//------------------------------------
    background: rgba(91, 120, 238, 1);
    color: white;
    border: none;
    border-radius: 8px;
}
.button-form-inactive{//------------------------------------
    background: rgba(91, 120, 238, 1);
    color: white;
    border: none;
    border-radius: 8px;
    opacity: 0.4;
}
.circle-number {
    background-color: rgba(96, 126, 246, 1);
    border-radius: 100px;
    height: 22.66px;
    width: 22.66px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-number > p {
    margin: 50px;
    padding: 50px;
    text-align: center;
}

// linksTO
.p-relative {position: relative}
#howDoesItWorki, #features, #prices {position: absolute;}
#features, #prices {top: 80%;}
#howDoesItWorki {top: 50%;}

// Accordion
.accordion-item {
    border: 1px solid #fff
}
.accordion-flush .accordion-item:first-child {
    border: none !important;
}
.accordion-button:not(.collapsed){
    color: #5B78EE !important;
    background-color: #fff !important;
    box-shadow: none !important;
}
.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}
.accordion-button::after {
    margin-left: 15px;
    border: 2px solid #1A1A1A;
    border-radius: 50px;
    padding: 10px;
    background-size: 15px;
    background-position: 2px;
}
.accordion-button:not(.collapsed)::after {
    border: 2px solid #5B78EE;
}
.accordion-body {
    padding-top: 0;
}

// Max-Width
.scale-your-service h1 {
    max-width: 900px;
}
.scale-your-service p {
    max-width: 700px;
}

// Image
.imgFilter {
    filter: brightness(.2);
}

// Form
.form-floating>label:not(.excluir){
    left: 15px !important;
}

@media (max-width: 480px){
    .p-small {
        font-size: 14px;
    }
    .accordion-button::after {
        margin-left: auto;
    }
    #prices {
        top: 40%;
    }
}