<header class="position-sticky top-0" style="z-index: 200; background-color: #fcfcfc;">
  <nav class="navbar navbar-expand-lg py-3 mx-auto col-xl-11 px-4">
    <img src="assets/img/logo.svg" alt="logo" width="160" />
    <i class="fas fa-bars navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
    </i>
    <div class="collapse navbar-collapse justify-content-end" id="nav">
      <ul class="navbar-nav d-flex gap-4 align-items-center py-2">
        <li><a routerLinkActive="active" (click)="close()" (click)="ScrollIntoView('#howDoesItWorki')">¿Como funciona?</a></li>
        <li><a routerLinkActive="active" (click)="close()" (click)="ScrollIntoView('#features')">Características</a></li>
        <li><a routerLinkActive="active" (click)="close()" (click)="ScrollIntoView('#prices')">Precios</a></li>
        <li><a class="btn-1 rounded-24 px-4 py-2" href="https://app.iuapp.cl/auth/sign-in">Ingreso Contador</a></li>
        <li><a class="btn-2 rounded-24 px-4 py-2" href="https://app.iuapp.cl/auth/sign-in-client">Ingreso Cliente</a></li>
      </ul>
    </div>
  </nav>
</header>
<div class="shadow-sm border-bottom"></div>
<div class="hidden-shadow"></div>
