/* You can add global styles to this file, and also import other style files */
a{
  text-decoration: none !important;
}
/* colores fijos */
.color-1{
  color: #607ef6
}
.color-2{
  color: #100049
}
.color-3{
  color: #646363
}
.text-danger{
  color: #ff0000 !important;
}
.bg-1{
  background-color: #607ef6;
}
.bg-gray{
  background-color: #f6f6f8;
}
.btn-1{
  background: linear-gradient(180deg, #607EF6 0%, #304ED6 100%) !important;
  color: #F6F4FB !important;
  font-weight: 590;
  border: none;
  padding: 12px 20px;
  &:hover{
    background: linear-gradient(0deg, #708bfd, #3656db) !important;
  }
  &:focus{
    box-shadow: 0 0 0 3.5px #3657db5d;
  }
}

.btn-2{
  background-color: white;
  border: solid  1px #607ef6;
  color: #607ef6 ;
}
.btn-3{
  background-color: #dce2f9;
}
.btn-gray{
  background-color: #dddddd;
  color: #fff;
}
.btn-gray:hover{
  background-color: #555;
  color: #fff;
}
.btn-gray:focus{
  border-color: #777;
  box-shadow: 0 0 0 3.5px rgba(119, 119, 119, 0.363);
}
  
/* estilos generales */

.rounded-7{
  border-radius: 7px;
}
.rounded-16{
  border-radius: 16px;
}

.rounded-24{
  border-radius: 24px;
}
.rounded-50{
  border-radius: 50px;
}
.fw-500{
  font-weight: 500
}
.fw-510{
  font-weight: 500
}
.fw-590{
  font-weight: 590;
}
.fw-700{
  font-weight: 700;
}
.btn-transparent{
  background-color: transparent;
  border: 0;
  padding: 0;
}
.fs-7{
  font-size: calc(0.5vw + 28px);
}
.fs-8{
  font-size: calc(0.5vw + 36px);
}
.form-control, .form-select{
  box-shadow: none !important;
  padding: 12px !important;
  height: 50px !important;
}
.form-floating > label{
  line-height: 1;
  height: auto;
}
.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
  opacity: 1;
  padding: 8px 12px !important;
  transform: scale(0.85) translateY(-1.15rem) translateX(0.40rem);
  background-color: #fff;
}